.spinner{
    position: absolute;
    left: 50%;
    top: 50%;
}

.spinner-maior{
    width: 3.5rem;
    height: 3.5rem;
    margin-left: -28px;
    margin-top: -28px;
}

.spinner-menor{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -20px;
    margin-top: -20px;
}