.spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -28px;
    margin-top: -28px;
}

.spinner-menor{
    margin-left: -20px;
    margin-top: -20px;
}

.cursor-mouse{
    cursor: pointer;
}