<div class="mt-5" *ngIf="parcelados.length == 0">
    <div class="alert alert-warning text-center"><i class="fas fa-exclamation-circle me-1"></i>Não existem parcelados a serem pagos no momento !</div>
</div>

<form [formGroup]="formParcelado" class="mt-4 mb-5" (submit)="enviar()" *ngIf="parcelados.length != 0">

    <div class="row float-none mt-4">

        <div class="col-12 col-md-8">
            <div class="form-group">
                <label for="parcelado">Parcelado:</label>
                <select id="parcelado" class="form-control" (change)="escolherParcelado($event)"
                    formControlName="parcelado">
                    <option value="0">Selecione uma opção</option>
                    <ng-container *ngFor="let p of parcelados">
                        <option [value]="p.id">{{p.titulo}} - {{p.descricao}}</option>
                    </ng-container>
                </select>
            </div>
        </div>

        <div class="col-12 col-md-4 mt-2 mt-md-0">
            <div class="form-group">
                <label for="parcela">Parcela:</label>
                <select id="parcela" class="form-control" formControlName="parcela" (change)="escolherParcela($event)">
                    <option value="0">Selecione uma opção</option>
                    <ng-container *ngFor="let p of parcelas">
                        <option [value]="p.id">{{p.numero}} - {{p.dataVencimento | date: 'dd/MM/yyyy'}}</option>
                    </ng-container>
                </select>
            </div>
        </div>

    </div>

    <div class="row mt-2 mt-md-3">

        <div class="col-12 col-md-3">
            <div class="form-group">
                <label for="numero">Número:</label>
                <input type="text" id="numero" readonly class="form-control" formControlName="numero">
            </div>
        </div>

        <div class="col-12 col-md-3 mt-2 mt-md-0">
            <div class="form-group">
                <label for="valor">Valor:</label>
                <input type="number" id="valor" class="form-control" formControlName="valor">
            </div>
        </div>

        <div class="col-12 col-md-3 mt-2 mt-md-0">
            <div class="form-group">
                <label for="dataVencimento">Data de Vencimento:</label>
                <input type="date" id="dataVencimento" class="form-control" formControlName="dataVencimento">
            </div>
        </div>

        <div class="col-12 col-md-3 mt-2 mt-md-0">
            <div class="form-group">
                <label for="dataPagamento">Data de Pagamento:</label>
                <input type="date" id="dataPagamento" class="form-control" formControlName="dataPagamento">
            </div>
        </div>

    </div>

    <button class="btn btn-primary mt-3 efeito-sobresalto" [disabled]="desativaBotaoEnviar || formParcelado.invalid">
        <i class="fas fa-save me-1"></i>Salvar
    </button>

</form>
