<div class="row mt-4 mt-md-5">

    <!--Nome da Categoria-->
    <div class="col-12 col-md-3 text-start">
        <div class="d-flex justify-content-start">
            <div class="text-start">
                <h6 class="mb-0"><small><i class="fas fa-tags me-1" style="font-size: 12px;"></i>Categoria:</small></h6>
                <span style="font-size: 20px;">{{balanco?.categoria.nome}}</span>
            </div>
        </div>
    </div>

    <!--Paginação dos Balanços-->
    <div class="col-12 col-md-6 mt-3 mt-md-0">
        <div class="d-flex justify-content-start justify-content-md-center">
            <div class="text-start">
                <h6 class="mb-0"><small><i class="fas fa-calendar-alt me-1" style="font-size: 12px;"></i>Mês/Ano:</small></h6>
                <div class="row">
                    <div class="col-8">
                        <span style="font-size: 20px;">
                            {{balanco?.mes | converteMes}}/{{balanco?.ano}}
                        </span>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <!--Saldo do Balanço-->
    <div class="col-12 col-md-3 mt-3 mt-md-0">
        <div class="d-flex justify-content-start justify-content-md-end">
            <div class="text-start">
                <h6 class="mb-0"><small><i class="fas fa-comment-dollar me-1" style="font-size: 12px;"></i>Saldo:</small></h6>
                <span class="text-primary" style="font-size: 20px;" *ngIf="balanco?.saldoAtual>0">{{balanco?.saldoAtual | currency:'R$'}}</span>
                <span class="text-danger" style="font-size: 20px;" *ngIf="balanco?.saldoAtual<0">{{balanco?.saldoAtual | currency:'R$'}}</span>
                <span style="font-size: 20px;" *ngIf="balanco?.saldoAtual==0">{{balanco?.saldoAtual | currency:'R$'}}</span>
            </div>
        </div>
    </div>
    
</div>