<cabecalho></cabecalho>
<layout>

    <div style="text-align: justify;">

        <titulo-pagina titulo="Sistema de Controle Financeiro" subtitulo="Sobre" icone="fas fa-book-open"></titulo-pagina>

        <!--Botão Voltar-->
        <p class="mt-2"></p>
        <btn-voltar rota="/login" [parametros]="null"></btn-voltar>

        <div class="alert alert-warning text-center mt-3">
            Este sistema foi pensado e desenvolvido por Luiz Felipe Duarte Elias 
                estudante de Ciência da Computação pela UEZO.
        </div>
        
    </div>

    <div class="alert alert-success text-center mt-5">
        <p class="mb-0"><span class="font-weight me-1"><i
                    class="fas fa-envelope me-1"></i>Email:</span>felipe15lfde@gmail.com</p>
        <p class="mb-0">Copyright&copy;{{getAno()}} - Todos os direitos reservados. - Desenvolvido por Luiz
            Felipe Duarte Elias</p>
    </div>

</layout>