<div class="container-fluid">

    <div class="row justify-content-center">

        <div class="col-11" *ngIf="exibeSpinner == false">

            <!--Nome da Página--> 
            <h5 class="mt-3 text-center">Sistema de Controle Financeiro - <i class="fas fa-tags me-1"></i>Categorias</h5>

            <!--Avisos de Parcelas atrasadas - Precisa ser construído
            <div class="card mt-5">
                <div class="card-body">
                    <span>Avisos!</span>
                    <div class="alert alert-dismissible alert-warning mt-2">
                        <i class="fas fa-exclamation-circle me-1"></i>A <strong>Parcela da TV de 50'</strong> No Valor R$ 250,75 <strong>Venceu</strong> Na Data 03/07/2021
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>-->

            <!--Botão para Cadastrar nova categoria-->
            <a routerLink="cadastrar" class="btn btn-primary mt-5 mt-md-5"><i class="fas fa-plus me-1"></i>Nova Categoria</a>

            <!--Barra de utilitários-->
            <div class="row mt-5" *ngIf="paginaCategoria?.content.length>0">

                <!--Quantidade de categorias na página-->
                <div class="col-3 col-md-4">
                    <div class="row justify-content-start">
                        <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                            <select id="size" class="form-select form-select-sm" (change)="mudarQuantidade($event.target)">
                                <ng-container *ngFor="let op of qtdOpcoes">
                                    <option [value]="op">{{op}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>
                
                <!--Paginação-->
                <div class="col-5 col-md-4">
                    <p class="text-center">

                        <span *ngIf="paginaCategoria?.number > 0" class="me-1">
                            <a (click)="retrocederAnterior()" class="btn btn-sm btn-outline-secondary"><i class="fas fa-caret-left fx-3"></i></a>
                        </span>

                        <span>{{paginaCategoria?.number+1}} de {{paginaCategoria?.totalPages}}</span>

                        <span *ngIf="(paginaCategoria?.number+1) < paginaCategoria?.totalPages" class="ms-1">
                            <a (click)="avancarPagina()" class="btn btn-sm btn-outline-secondary"><i class="fas fa-caret-right"></i></a>
                        </span>

                    </p>
                </div>

                <!--Formas de Visualização das categorias-->
                <div class="col-4 col-md-4">
                    <div class="d-flex justify-content-end">
                        <div class="btn-group">
                            <button (click)="onPainelCard()" type="button" class="btn btn-sm" [ngClass]="{'btn-secondary': painelCard == true, 'btn-outline-secondary': painelCard == false}" ><i class="far fa-id-card me-1"></i><span class="d-none d-md-inline" >Card</span></button>
                            <button (click)="onPainelTabela()" type="button" class="btn btn-sm" [ngClass]="{'btn-secondary': painelTabela == true, 'btn-outline-secondary': painelTabela == false}"><i class="fas fa-table me-1"></i><span class="d-none d-md-inline" >Tabela</span></button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Painel da Cards-->
            <div class="mt-1 mt-md-2" *ngIf="painelCard && paginaCategoria?.content.length>0">

                <div class="row">
                   
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-2" *ngFor="let categoria of paginaCategoria?.content">
                        <div class="card linha-card">
                            <div class="card-body pt-2">
                                <h6 class="mb-0 mt-0"><small><i class="fas fa-tags me-1" style="font-size: 12px;"></i>Categoria</small></h6>
                                <span class="mt-0 fw-bolder" style="font-size: 24px;">{{categoria?.nome}}</span>
    
                                <h6 class="mt-3 mb-0"><i class="fas fa-comment-dots me-1"></i>Descrição</h6>
                                <span class="mt-0 text-justify">{{categoria?.descricao}}</span>
    
                                <h6 class="mt-3 mb-0"><i class="fas fa-calendar-alt me-1"></i>Data de Criação</h6>
                                <span class="mt-0">{{categoria?.dataCadastro | date: 'dd/MM/yyyy'}}</span>
    
                                <div class="d-grid col-12">
                                    <a [routerLink]="['/lancamento']" [queryParams]="{categoria:categoria?.id}" class="btn btn-primary d-block mt-3"><i class="fas fa-hand-holding-usd me-1"></i>Lançamentos</a>
                                </div>
                                    
                            </div>
                            <div class="card-footer">
                                <a [routerLink]="['atualizar',categoria?.id]" class="btn btn-primary btn-sm me-1"><i class="fas fa-edit me-1"></i>Editar</a> 
                                <button type="button" (click)="excluir(categoria?.id)" class="btn btn-danger btn-sm"><i class="fas fa-trash me-1"></i>Excluir</button>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>

            <!--Painel de Tabelas-->
            <div class="mt-1 mt-md-2" *ngIf="painelTabela && paginaCategoria?.content.length>0">

                <div class="row justify-content-center">

                    <div class="col-12">

                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead class="table-light">
                                    <tr class="nao-quebra-tabela">
                                        <th><i class="fas fa-tags me-1"></i>Categoria</th>
                                        <th><i class="fas fa-comment-dots me-1"></i>Descrição</th>
                                        <th class="text-center"><i class="fas fa-calendar-alt me-1"></i>Data de Criação</th>
                                        <th class="text-center">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="nao-quebra-tabela" *ngFor="let categoria of paginaCategoria?.content">
                                        <td style="font-size: 18px;">{{categoria?.nome}}</td>
                                        <td>{{categoria?.descricao}}</td>
                                        <td class="text-center">{{categoria?.dataCadastro | date: 'dd/MM/yyyy'}}</td>
                                        <td class="text-center">
                                            <a [routerLink]="['/lancamento']" [queryParams]="{categoria:categoria?.id}" class="btn btn-primary btn-sm me-1"><i class="fas fa-hand-holding-usd me-1"></i>Lançamentos</a> 
                                            <a [routerLink]="['atualizar',categoria?.id]" class="btn btn-primary btn-sm me-1"><i class="fas fa-edit me-1"></i>Editar</a> 
                                            <button type="button" (click)="excluir(categoria?.id)" class="btn btn-danger btn-sm"><i class="fas fa-trash me-1"></i>Excluir</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

            <div class="mt-5" *ngIf="paginaCategoria?.content.length == 0">
                <div class="alert alert-warning text-center"><i class="fas fa-exclamation-circle me-1"></i>Não há nenhuma categoria cadastrada!</div>
            </div>

        </div>

        <div class="col-11" *ngIf="exibeSpinner">
            <div class="spinner">
                <div class="spinner-grow text-sencondary"  style="width: 3.5rem; height: 3.5rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

    </div>

</div>