.linha-card{
    border-left: 2px solid #0d6efd;
}

.nao-quebra-tabela{
    white-space: nowrap;
}

.spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -28px;
    margin-top: -28px;
}