<div class="btn-group">
    <button (click)="onGridCard()" type="button" class="btn btn-sm" [ngClass]="{'btn-secondary': gridCard == true, 'btn-outline-secondary': gridCard == false}" >
        <i class="far fa-id-card me-1"></i><span class="d-none d-md-inline" >Card</span>
    </button>
    <button (click)="onGridTabela()" type="button" class="btn btn-sm" [ngClass]="{'btn-secondary': gridTabela == true, 'btn-outline-secondary': gridTabela == false}">
        <i class="fas fa-table me-1"></i><span class="d-none d-md-inline" >Tabela</span>
    </button>
</div>